html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


/* Top Bar */
/* #region */
#topBar{
    background-color: rgb(50, 57, 58);
    position: fixed;
    width: 100%;
    opacity: 100%;
    /* display: none; */
}

#topBar a{
    text-decoration: none;
    float: left;
    text-align: center;
    color: white;
    padding: 15px;
}

#topBar a:hover{
    background-color: #ddd;
    color: black;
}
/* #endregion */


/* Center img */
/* #region */
.container{
    /* max-width: 960px; */
    width: 100%;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    /* padding: 25px; */
}

.parallax{
    background: url("img2.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}
/* #endregion */

/* First page */
/* #region */
.downBtn{
    font-size: 70px;
    padding: 50px;
}

.downBtn a{
    text-decoration: none;
    color: whitesmoke;
}

.section{
    background-color: rgb(21, 19, 27);
    /* width: 100%; */
    height: 100%;
    padding: 50px;

    font-size: 2.5vw;
    color: white;
    text-align: center;
}

.avatar{
    border-radius: 50%;
    width: 30%;
    height: 30%; 
    margin: 10px;
    float: right;
    /* max-width: 40%;
    max-height: 40%; */
}

/* fade in animation */
.fadeInAnimation{
    animation: fadeIn 3s;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
/* #endregion */

@media screen and (max-width: 800px) {
    .section{
        /* width: 100%; */
        font-size: 4vw; /* The width is 100%, when the viewport is 800px or smaller */
    }

    .avatar{
        width: 60%;
    }

    .downBtn{
        padding: 1vw;
        font-size: 10vw;
    }
  }