html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Arial !important;
}

a{
    text-decoration: none;
    color: white;
}

/* #region Top Bar */
#topBar{
    background-color: rgb(58, 55, 58);
    position: fixed;
    width: 100%;
    opacity: 100%;
    z-index: 9999;
    font-size: 10px;
    /* display: none; */
}

#topBar a{
    text-decoration: none;
    float: left;
    text-align: center;
    color: white;
    padding: 20px;
}

#topBar a:hover{
    background-color: #ddd;
    color: black;
}
/* #endregion */


/* #region Center img */
.container{
    /* max-width: 960px; */
    width: 100%;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    /* padding: 25px; */
}

.parallax{
    background: url("images/img2.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}
/* #endregion */


/* #region Main page */
.introduction{
    text-align: left;
}

.downBtn{
    font-size: 70px;
    padding: 50px;
}

.downBtn a{
    text-decoration: none;
    color: whitesmoke;
}

.section{
    background-color: rgb(21, 19, 27);
    /* width: 100%; */
    height: 100%;
    padding: 50px;

    font-size: 2.5vw;
    color: white;
    text-align: center;
}

.avatar{
    border-radius: 50%;
    width: 30%;
    height: 30%; 
    margin: 10px;
    float: right;
    /* max-width: 40%;
    max-height: 40%; */
}

/* fade in animation */
.fadeInAnimation{
    animation: fadeIn 3s;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
/* #endregion */


/* #region About me section */
.circleImage{
    border-radius: 50%;
    width: 80%;
    height: 80%; 
    margin: 10px;
}

.imageContainer{
    width: 30%;
    display: inline-block;
    position: relative;
    text-align: center;
}

.backgroundText{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.6);
    top: 42.5%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    font-size: 1.5vw;

    position: absolute;
    text-align: center;
    display: none;
    white-space: pre-line;
}

.imageContainer:hover .backgroundText{
    display: block;
}

.photoDescription{
    text-align: center;
}

.aboutMe{
    font-size: 2vw;
    white-space: pre-line;
}
/* #endregion */


/* #region Bottom section */
.bottom{
    height: 20%;
    text-align: center;
    background-color: rgb(16, 14, 20);
}

.bottomText{
    font-size: 1.5vw;
    padding-top: 15px;
    
    color: rgb(184, 174, 174);
}

#bottomTextHref a{
    text-decoration:none;
}

#bottomTextHref a:hover{
    color: gray;
}


/* #endregion */


/* #region Show case */
.showSection{
    background-color: rgb(21, 19, 27);
    /* width: 100%; */
    height: 100%;
    padding: 50px;

    font-size: 2.5vw;
    color: white;
    text-align: center;
}

.showCaseContainer{
    margin-bottom: 30vw;
}

.showCaseImg{
    float: left;
    border-radius: 50%;
    width: 20%;
    height: 20%;
    margin-left: 10vw;
}

.showCaseText{
    float: right;
    white-space: pre-line;
    width: 50%;
    font-size: 1.5vw;
    padding-bottom: 5vw;
}
/* #endregion */


/* #region Contact Me */
.contactSection{
    padding: 50px;
    height: 100%;
    text-align: center;
    color: white;
}

.contactContainer{
    width: 10%;
    padding: 5vw;
    position: relative;
    display: inline-block;
}

.contactImg{
    border-radius: 50%;
    width: 90%;
    height: 90%;
}

.contactText{
    text-align: center;
    width: 100%;
}

.logo:hover .contactImg{
    width: 110%;
    height: 110%;
}
/* #endregion */


/* #region Other data */
.otherSection{
    text-align: center;
    color: white;
    padding: 50px;
    height: 100%;
}

.otherImg{
    float: left;
    border-radius: 20%;
    width: 35%;
    height: 35%;
    margin-left: 1vw;
    margin-bottom: 10vw;
}

.videoContainer{
    display: inline-block;
    position: relative;
    width: 100%;
}

.videoContainer iframe{
    float: left;
    margin-bottom: 1vw;
    width: 40%;
    height: 315px;
}
/* #endregion */

@media screen and (max-width: 600px){
    /* #region Top bar */
    /* #endregion */


    /* #region First page */
    .section{
        /* width: 100%; */
        font-size: 4.5vw; /* The width is 100%, when the viewport is 800px or smaller */
    }

    .avatar{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .downBtn{
        padding: 1vw;
        font-size: 15vw;
    }

    .parallax{
        height: 30vw;
    }
    /* #endregion */


    /* #region Abount me section */
    .circleImage{
        width: 80%;
    }

    .imageContainer{
        width: 40%;
        display: inline-block;
    }

    .aboutMe{
        font-size: 3vw;
    }

    .backgroundText{
        width: 53%;
        height: 75%;
    }
    /* #endregion */


    /* #region Bottom section */
    .bottom{
        height: 10%;
    }

    .bottomText{
        font-size: 1vw;
        padding-top: 0px;
    }
    /* #endregion */


    /* #region Showcase section */
    .showSection{
        padding: 35px;
    }

    .showCaseText{
        float: none;
        width: 100%;
        font-size: 2vw;
        margin-bottom: 10vw;
    }
    
    .showCaseImg{
        float: none;
        border-radius: 50%;
        width: 30%;
        height: 30%;
        margin-left: 0;
    }

    .showCaseContainer{
        margin-bottom: 0;
    }
    /* #endregion */

    
    /* #region Contact Me */
    .contactContainer{
        width: 20%;
        padding: 4vw;
        position: relative;
        display: inline-block;
    }

    .contactImg{
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
    /* #endregion */


    /* #region Others */
    .otherImg{
        float: none;
        width: 80%;
        height: 80%;
    }

    .videoContainer{
        display: block;
    }

    .videoContainer iframe{
        float: none;
        width: 280px; 
        height: 158px;
    }
    /* #endregion */

}

@media screen and (max-width: 400px){
    .avatar{
        width: 100%;
    }
    
    
    /* #region Abount me section */

    .circleImage{
        width: 50%;
    }
    
    .imageContainer{
        padding-top: 0;
        width: 100%;
        display: block;
    }
    
    .aboutMe{
        font-size: 1.5vw;
    }
    /* #endregion */


    /* #region Bottom section */
    /* Bottom section */
    .bottomText{
        font-size: 3vw;
    }
    /* #endregion */


    /* #region Showcase section */
    .showCaseText{
        font-size: 3vw;
    }
    
    .showCaseImg{
        width: 50%;
        height: 50%;
    }

    .showCaseContainer{
        padding-bottom: 0;
    }
    /* #endregion */


    /* #region Contact Me */
    .contactContainer{
        width: 30%;
        padding: 4vw;
        position: relative;
        display: inline-block;
    }

    .contactImg{
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
    /* #endregion */

    /* #region Others */
    .otherSection{
        padding: 10px;
    }
    /* #endregion */
}

